<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi aliquid quisquam amet modi odit vel officiis magni voluptas consequatur dolore nobis a corporis itaque perspiciatis, ullam ducimus quo placeat esse similique qui, doloribus pariatur. Adipisci recusandae maiores odio commodi tempore officiis libero asperiores quo.</p>
    <h1>El resultado es esta linda {{llamada}}</h1>
</body>
</html>